/* Collection de variables */
:root {
  /* Mode 1 */
  /* color */
  --couleur: #8ab752;
  --couleur-2: #ffffff;
  --couleur-site-principal: #010811;
  /* number */
  --nombre: 0.625rem;
  /* string */
  --chaîne: Montserrat;
  :root {
  /* Tailles de texte */
  --fs-24: 1.5rem;   /* 24px */
  --fs-22: 1.375rem; /* 22px */
  --fs-20: 1.25rem;  /* 20px */
  --fs-18: 1.125rem; /* 18px */
  --fs-16: 1rem;     /* 16px */
  --fs-14: 0.875rem; /* 14px */
}
  
}