
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;                 
  background-color: #010811;
  padding: 16px 24px;          
  z-index: 20;
}

.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #ffffff;
}

.header__logo {
  width: 45px;
  height: 45px;
}

.header__link p {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.header__titre {
    font-family: "Montserrat";
    font-size: 24px;
}


.btn__menu {
  width: 40px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  background: none;
  border: none;
  margin-top: 38px;
  margin-right: 8px;
  margin-bottom: 33px;
  margin-left: 0;
}

.menu__boutton__barre {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}


.header__menu {
  position: absolute;
  top: 100%;                   
  left: 0;
  width: 100%;
  background-color: #010811;
  z-index: 19;
}

.menu__list {
  list-style: none;
  margin: 0;
  padding: 12px 24px 16px;      
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
}



.menu__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.menu__link:hover,
.menu__link:focus-visible {
  color: #8ab752;
}

